/* Add your loader styling here */
.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(284.12deg, #D8B5B5 0.95%, rgb(67, 15, 68) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 0;
    transform: translateY(100%);
    z-index: 999;
}

.loader.active {
    transform: translateY(0%);
    opacity: 1;
  }
  
  .loader-overlay {
    position: relative;
  }
  
  .number-text {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  