.exp_section{
    width: 100%;
    height: 100vh;
    position: sticky;
    background-color: whitesmoke;
    top: 60px;
    
    & .exp_bg{
        width: 100%;
        height: 100vh;
        background-image: url("../../Assets/Images/Exp_Bg.png");
        background-size: 100%;
        background-repeat: no-repeat;
      
        & img:first-of-type {
            position: absolute;
            top: 70px;
            left: 40px;
          }
          & img:last-of-type {
            position: absolute;
            bottom: 70px;
            right: 40px;
          }
          @media screen and (max-width: 640px) {
            & img:first-of-type {
              position: absolute;
              top: 40px;
              left: 10px;
              transform: scale(.6);
            }
            & img:last-of-type {
              transform: scale(.6);
              position: absolute;
              bottom: 90px;
              right: 10px;
            }
          }

    }
    
    @media screen and (max-width: 640px) {
      & .exp_bg{
        background-image: url("../../Assets/Images/kv15.png");
      }
    }
}