.exp_content_container {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 60px;
  & .exp_content_bg {
    width: 100%;
    height: 100%;
    background: #430f44e2;
    & .exp_content {
      height: 100%;
      width: 100%;
      text-align: center;
      & .exp_heading {
        margin-bottom: 10px;
      }
      & .exp_heading img {
        position: relative;
        top: -10px;
        right: -60px;
        width: 90px;
      }
      & .exp_heading h1 {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 4%;
        color: #fdf3f3b2;
        padding-top: 20px;
      }
      & .exp_detail {
        margin-left: 100px;
        text-align: left;
        color: #fdf3f3;
        width: 60%;
        letter-spacing: 3%;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
      }
      & .exp_cont_skills {
        display: flex;
        align-items: start;
        justify-content: center;
        margin-top: 20px;

        & div {
          margin: 0 5%;
          line-height: 35px;
          color: #ffffff;
          & h2 {
            margin-bottom: 15px;
            font-size: 21px;
            font-weight: 500;
          }
        }
        & div p {
          color: #ffffff99;
          font-size: 16px;
        }
        & div:nth-child(1) p {
          max-width: 250px;
        }
      }
      & .exp_checkmeout {
        margin-top: 10px;
        padding: 10px 0 0 88px;
        display: flex;
        align-items: center;
        position: relative;
        top: 20px;
        color: white;
        & .exp_checkme_icons {
          margin-left: 48px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 270px;
          & img {
            width: 60px;
          }
          & div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            background-color: #0499fc;
          }
          & div:hover {
            cursor: pointer;
          }
          & .linkedin_icon_container {
            position: relative;
            left: -85px;
            top: -4px;
          }
          & .behance_container_postition {
            position: relative;
            left: -65px;
            top: 0px;
          }
        }
      }
      & .arrow_down_exp {
        text-align: center;
        margin-top: 40px;
        padding-left: 30px;
        & .arrow_down_exp_img {
          animation: moveUpDown1 1s linear infinite; 
        }
        & .arrow_down_exp_img:hover {
          animation: moveUpDown 1s linear infinite; 
        }
        @keyframes moveUpDown {
          0%, 100% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-20px);
          }
        }
        @keyframes moveUpDown1 {
          0%, 100% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-10px); 
          }
        }
      }
      @media screen and (max-width: 640px) {
        & .exp_cont_skills {
          width: 100%;
          & div {
            margin: 0;
          }
        }
        & .exp_checkmeout {
          margin-top: 30px;
          padding: 0;

          & .exp_checkme_icons {
            & .linkedin_icon_container {
              left: -66px;
            }
          }
        }
      }
    }
    @media screen and (max-width: 1040px) {
      & .exp_content {
        transform: scale(0.7);
        & .exp_detail {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}
